<h2>Commints</h2>
<a href="/">Home</a>
<div ng-repeat="commint in vmc.commints" class="base-unit">
  <p>Commiter by <a href="#/user/{[{commint.committer.login}]}">{[{commint.committer.login}]}</a></p>
      <p>{[{commint.commit.message}]}</p>
      <a href="{[{commint.html_url}]}">On git</a>
      <button class="btn" ng-click="vmc.commentsshow(commint.comments_url)" > Show comments</button>
      <div ng-show='vmc.comments' class="commnets-unit">
        <div ng-repeat="comment in vmc.comments" class="commnet">
              <p>Comment by <a href="#/user/{[{comment.user.login}]}">{[{comment.user.login}]}</a> in {[{comment.created_at}]}</p>
              <p>{[{comment.body}]}</p>
              <a href="{[{comment.html_url}]}">Show in Git</a>
        </div>
      </div>
</div>
