<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="commentApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular comment app</title>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/factorys.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives.js' %}"></script>

  </head>
  <body >
  <div class="container">
  {% if not request.user.is_authenticated %}
    <a href="{% url 'social:begin' "github" %}">Log in git</a>
  {% else %}
    <div>Github project</div>
      <form ng-controller="FormCtrl as form" name="myForm" ng-submit="form.submit(myForm.$valid, data)">
            <div >User:</div>
            <input type="text" name='first' ng-model="data.user" required />
            <input type="submit">
      </form>
    {% endif %}
    </div>
    <!--<div class='ng-view-div' ng-view></div>-->
    <div>
      <table ng-controller="MyInfo">
      <tbody>
        <tr>
          <td>First Name  {[{mytestinfo.first_name}]}</td>
          <td>Email  {[{mytestinfo.email}]}</td>
        </tr>
         <tr>
          <td>Last Name  {[{mytestinfo.last_name}]}</td>
          <td>Jabber  {[{mytestinfo.jabber}]}</td>
        </tr>
         <tr>
          <td>Date of Birth  {[{mytestinfo.birth}]}</td>
          <td>Skype  {[{mytestinfo.skype}]}</td>
        </tr>
         <tr>
          <td>Bio  {[{mytestinfo.bio}]}</td>
          <td>Other...  {[{mytestinfo.other}]}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  </body>
</html>
